


{% for i in posts %}

 <div class="col-md-8 my-1 mx-auto" >
       
            <a href="{{url_for( '.post' , id= i[0])}}" style="text-decoration: none;">
    <div class="card  border border-white" id="post">
    <div class="row">
        <div class="col-md-4">
 <img src="{{i[3]}}" alt="image" class="card-img-top" style="height:200px;" > 
        </div>
        <div class="col-md-8">
                                        <div class="card-body">
                                                        <h4 class="card-title" style="font-weight:bold;"><strong>{{i[1]}}</strong></h4>
               
                <p class="card-text lead">{{i[2]}}...</p>
          
        </div>

        </div>
    </div>
                            
                           
        </div>
           </a>
    
  </div>
        <br>

      {% endfor %}
   
    