    
    {% for i in propertyList %}
  
    <tr class="estate " >

    <div class="estate-body lead ">
      
      <td>{{i[0]}}</td>
       <td>{{i[1]}}</td> 
      <td>{{i[2]}}</td>

        <td>   {{ i[3]}}</td>
        <td>   {{ i[4] }}</td>
       
        
<td> {{i[6]}}</td>
<td>{{i[5]}}</td>
<td>
               
       <a 
       href="{{ url_for('main.edit_property', id=i[0]) }}">
       <i  data-toggle="tooltip" data-placement="top" title="Edit"
       class="fa fa-edit"></i>
       </a>
          
       <a 
       href="{{ url_for('main.delete_property', id=i[0]) }}">
       <i  data-toggle="tooltip" data-placement="top" title="Delete" class="fa fa-trash">
       </i>
       </a>
       
   
</td>

            </div>


        </tr>


{% endfor %}

