<div class="col-md-6">
       
               <!-- current property title  -->
    <div>
        <h4 class="text-center display-4 text-responsive">
            {{estate['title']}}
        </h4>
    </div>

<br>
  
       
               <div class="card  border border-white">
   <div class="card-img-top bg-white">
        <img src="{{estate['image'][0]['photo']}}" alt="image" class="card-img-top">
          </div>
           
                               <div class="card-body bg-light">
                                               
                        <h4 class="card-title lead "><strong> {{ estate['category'] }}</strong></h4>
                        <h4 class="card-title lead "><strong>${{estate['price']}}
                        </strong></h4>
                        <h4 class="card-title lead " ><strong> <a href="http://maps.google.com/?q={{estate['address']}}" data-toggle="tooltip" data-placement="top" title="Click For Map">
                               {{estate['address']}}
                               </a></strong></h4>
                               <p class="lead">
                                   {{estate['body'] | safe}}
                               </p>
                           <h1 class="lead text-primary text-center">
                               Photos
                           </h1>   
          <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
           {% for i in estate['image']%}
            <a href="{{i['photo']}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="{{i['photo']}}" class="img-fluid">
            </a>
            {% endfor %}
        </div>
    </div>
</div>
       
      
           </div>
         </div>
       
</div>
        <div class="col-md-6  ">
            <!-- Contact Realtor -->
            <section class="border border-primary p-2 m-2 sticky-top" style="z-index: inherit;">
        
                <h1 class="display-4 text-center text-responsive">
                    Contact Realtor
                    </h5>
        
                    <div>
                        <form method="get" enctype="text/plain" action="mailto:sales@twre.co.zw">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="joe Doe">
                            </div>
                            <div class="form-group">
                                <label for="name">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="joe@email.com">
                            </div>
        
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" placeholder="Interested">
                                
                            </div>
                            <div class="form-group">
                                <label for="name">Phone Number</label>
                                <input type="text" class="form-control" name="text" placeholder="+123456789">
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message"
                                 > Hello I am interested in the, {{estate['title']}} ,{{estate['address']}} ,property number {{estate['_id']}} | on https://www.twre.co.zw
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="name">Attachments</label>
                                <input type="file" name="file" class="form-control">
                            </div>
        
                             <input class="btn btn-primary " type="submit" value="Click Here">

                        </form>
                    </div>
        
            </section>
        
        </div>