
{%  extends 'base.html' %}

{% block title %} <title>TWRE:About</title>
{% endblock%}

{% block content %}
    <!-- About us -->
<section class="p-4" >
    <div class="container" id="about">
        <div class=" text-center">
            <h1 class="display-4 p-4">About Us</h1>
        </div>
        <div class="row ">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="display-4 text-responsive">Who We Are?</h3>
                                <img src="../static/img/aerial-photography-architecture-building-1546168.jpg" alt="image" class="card-img-top" style="height:200px;">
                                <p class="text-primary lead text-center">
                                   Tony West Real Estate is a competent and customer oriented company .That has more than two decades of exprience.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="display-4 text-responsive">What We Do?</h3>
                                    <img src="../static/img/architectural-design-architecture-country-home-2287310.jpg" alt="image" class="card-img-top" style="height:200px;">
                                        <ul class="list-unstyled text-center">
                                            <li class="text-primary lead">
                                                Sales
                                            </li>
                                        
                                            <li class="text-primary lead">
                                               Auctions
                                            </li>
                                        
                                            <li class="text-primary lead">
                                               Valuations
                                            </li>
                                        
                                            <li class="text-primary lead">
                                              Project Management
                                            </li>
                                        
                                            <li class=" text-primary lead">
                                            Property Consultancy
                                        
                                            </li>
                                        
                                        
                                        </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h3 class="display-4 text-responsive">Our Location</h3>
                                        <img src="../static/img/maptwre.png" alt="image" class="card-img-top" style="height:200px;">
                                        <a href="http://maps.google.com/?q=275 H.Chitepo Ave,PO Box CY 474 Causeway, Harare ,Zimbabwe" class="text-primary lead text-center">
                                             275 H.Chitepo Ave,PO Box CY 474 Causeway, Harare,
                                             Zimbabwe
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 ">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h3 class="display-4 text-responsive">Our Clients</h3>
                                          
                                        <img src="../static/img/architecture-beautiful-exterior-106399.jpg" alt="image" class="card-img-top" style="height:200px;">

                                                <ul class="list-unstyled text-center">
                                                    <li class="text-primary lead">
                                                                R.B.Z
                                                    </li>

                                                <li class="text-primary lead">
                                                    Nicoz Diamond
                                                </li>

                                                <li class="text-primary lead">
                                                    Shawasha Hills Dev
                                                </li>

                                                <li class="text-primary lead">
                                                Nestle Zimbabwe
                                                </li>

                                                <li class=" text-primary lead">
                                                        Total Zimbabwe

                                                
                                                </li>


                                                </ul>
                                           
                                        
                                         
                                            
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>

</section>
<hr>

  {% endblock %}