
<!DOCTYPE html>
<html lang="en">
<head>
    
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ekko-lightbox.css') }}">
      

    <link rel="icon" href="{{ url_for('static', filename='img/Rent_25px.png') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
   {% block title %} <title>TWRE</title> {% endblock %}

    {% endblock %}
    <style>

      .card{
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

    #btn{
        background-color:#880e4f;
        color: white;

    }
#center{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  
   
}


/* LOADER 2 */

#loader-2 span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #880e4f;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
.carousel-image-1 {
  background: url("https://res.cloudinary.com/twre/image/upload/v1560943777/website/architectural-design-architecture-country-home-2287310_jpzc9p.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("https://res.cloudinary.com/twre/image/upload/v1560943775/website/architectural-design-architecture-contemporary-1884256_et8l5u.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("https://res.cloudinary.com/twre/image/upload/v1560943771/website/aerial-view-architecture-cars-280221_vpaj0p.jpg");
  background-size: cover; }

.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
    </style>
</head>
<body onload="myFunction()">
   <div class="container-fluid">
{% block navbar %}

           <nav class="navbar navbar-expand-lg sticky-top navbar-light  p-2 " >
                       
                    <a href="" class="navbar-brand mx-2">
                        <img src="{{ url_for ('static' , filename='img/twre.png')}}"  width="50" height="50"  alt="">
                    </a>
                    <h3 class="d-inline align-middle lead mx-4">TWRE</h3>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                        <span class="navbar-toggler-icon">
        
                        </span>
        
        
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                    <a href="/properties" class="nav-link">Properties</a>
                </li>
                <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
        
                        </li>
                        
                            
                     {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/user" class="nav-link">
                        <i class="fa fa-user"></i>
                        </a>
                    </li>
                     {% endif %}
                   
                     </li>
                      {% if current_user.is_authenticated %}
        
        <li class="nav-item"> <a class="nav-link btn btn-light"href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
        
        <li class="nav-item"><a class="nav-link btn btn-light" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
        </li>
        
                                <li class="nav-item">
                                        <a href="/auth/signup" class="nav-link  btn lead btn-primary text-white">SignUp</a>
                    
                                    </li>
                                     <li  class="nav-item">
                                 
           {%  if current_user.is_authenticated %}
           {% if current_user.is_admin == True %}
                <a class="btn btn-light border border-primary nav-link "
                href="{{ url_for('main.admin') }}">
               <small>Admin</small>
                </a>
                {% endif %}
                {% endif %}
  
          
        </li>
                 
      
                                    <li> <div class="d-flex flex-row justify-content-center">
                                        <div class="p-2"><a href="https://www.facebook.com/twre.zim.7"><i class="fa fa-facebook"></i></a></div>
                                        <div class="p-2"><a href="https://www.twitter.com/twrezim"><i class="fa fa-twitter"></i></a></div>
                                        <div class="p-2"><a href="https://www.instagram.com/twrezim"><i class="fa fa-instagram"></i></a></div>
                                        <div class="p-2"><a href="https://api.whatsapp.com/send?phone=263777918118" ><i class="fa fa-whatsapp"></i></a></div>
                                        <div class="p-2"><a href="mailto:youla@twre.co.zw"><i class="fa fa-envelope-o"></i></a></div>
                                    </div></li>
        </ul>
                    </div>
                
           
            </nav>

     

{% endblock %}

{% for message in get_flashed_messages() %}
<div class="alert alert-light  bg-primary text-white p-2 m-2 floating-alert text-center">
{{ message }}
</div>

{% endfor %}



<div  style="display:none;" id="content">
        {% block content %}
        
        {% block page_content %}{% endblock %}
     
        {% endblock %}</div>


<!-- Preloader -->

     <div class="row" id="loader">
        <div class="col-md- bg " id="center" >
        <div class="loader center-text" id="loader-2">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      </div>
<!-- contact us -->
<section  class="bg-light text-muted py-5" id="contact">
    
            <div class="row">
                <div class="col-md-6 p-4">
                    <img  src="https://res.cloudinary.com/twre/image/upload/v1560943239/website/architecture-clouds-estate-280222_gzgw16.jpg" class="img-fluid mb-3 rounded-circle">
                </div>
            
            <div class="col-md-6">
                <h3 class="display-4 p-4 text-responsive">Contact Us</h3>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-align">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="p-4 align-self-end">
                         <p class="text-muted lead"><strong>Harare Address: </strong>275 H.Chitepo Ave,PO Box CY 474 Causeway Harare</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-4 align-self-align">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="p-4 align-self-end lead">
                            <p><strong>Email:</strong></p>
                            <a href="mailto:sales@twre.co.zw" class="text-muted">Sales@twre.co.zw</a>
                            <a href="mailto:sales@twre.co.zw" class="text-muted">/Letting@twre.co.zw</a>

                    </div>
                </div>
                <div class="d-flex flex-row">
                        <div class="p-4 align-self-align">
                            <i class="fa fa-whatsapp"></i>
                        </div>
                        <div class="p-4 align-self-end lead">
                                <p></p><strong>Whatsapp:</strong></p>
                                <a href="https://api.whatsapp.com/send?phone=263777918118" class="text-muted">+263777918118
                                    </a>
                                    <a href="https://api.whatsapp.com/send?phone=263772395362" class="text-muted">+263772395362
                                        </a>
                        </div>
                    </div>
            </div>
            </div>
       
    </section>
<hr>

    <!-- Help -->
<section class="m-1 border border-white " >
        
                <h1 class="display-4 text-center">
                        Help 
                    </h1>
            <div class="row ">
                <div class="col">
                    <p class="lead text-center">
                        For any queries related to your user experience with our web application .Get in touch with us via this link
                       <a href="mailto:help@twre.co.zw">Contact  Us</a>
                    </p>
                </div>
            
        </div>


    </section>
<hr>
    <!-- footer -->
    <footer id="main-footer" class="bg-primary p-4   ">
          
                <div class="row">
                    <div class="col-md-6 ">
                        <h4  class="text-center display-4  text-white p-4 ">T.W.R.E </h4>
                         
                            <p class="lead  text-white text-center ">
                            .Real Estate Brokers  .Property And Project Managers .Valuers
                            </p>
                          
                            <p class="lead  text-white text-center ">
                                Estate Agents Registration Number 778 Zimbabwe
                            </p>
                    </div>
                    <div class="col-md-6 ">
                                        <h4 class="text-center  text-white display-4 p-4"> Hours </h4>
                                        <p class="lead  text-white text-center">Monday-Friday &emsp;08 AM-16 PM</p>
                                     <p class="lead  text-white text-center">   Saturday-Sunday &emsp;Closed</p>    
                    </div>
                </div>             
                                                
<div class="row"><div class="col text-center">
        <p class="lead text-white" >Copyright  &copy; 2019 All rights reserved|Website designed by <a href="www.cyprianaarons.co.zw" class="text-white"> Topia263</a></p>

                        
        <a href="mailto:youla@twre.co.zw" >
                <button class="btn btn-light text-primary border border-primary " >Email Us</button>
        </a>
       
</div></div>
   <br>
                   
                  
            
           
        </footer>
    

</div>



<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/list.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ekko-lightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easyPaginate.js') }}"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d0caf883b546490"></script>



<script>
$(document).ready(function() {
    // show the alert
    setTimeout(function() {
        $(".alert").alert('close');
    }, 2000);
});

</script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event){
  event.preventDefault();
  $(this).ekkoLightbox();
});
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 2000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("content").style.display = "block";
}
</script>
<script>
$('#easyPaginate').easyPaginate({
    paginateElement: '.my-1',
    elementsPerPage: 2
  
  
});
</script> 
<!-- Start of Tawk.to Script -->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5d077ef653d10a56bd7a7198/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<script>
var options = {
            valueNames: ['title' , 'price' ,'category','address'],
            page:4,
            pagination:true
        };

var propertyList = new List('properties', options);

function resetList(){
	propertyList.search();
	propertyList.filter();
	propertyList.update();
	$(".filter-all").prop('checked', true);
	$('.filter').prop('checked', false);
	$('.search').val('');
	//console.log('Reset Successfully!');
};
  
function updateList(){

	var values_address = $("input[name=address]:checked").val();
	
	var values_title = $("input[name=title]:checked").val();

	var values_category = $("input[name=category]:checked").val();


	propertyList.filter(function (item) {
		
		var addressFilter = false;
    var titleFilter = false;
    var categoryFilter = false;
		
		if(values_address == null)
		{ 
			addressFilter = true;
		} else {
			addressFilter = item.values().address.indexOf(values_address) >= 0;
		}

    if (values_title == null) {
      titleFilter = true;
    } else {
      titleFilter = item.values().title.indexOf(values_title) >= 0;
    }

    
    if (values_category == null) {
      categoryFilter = true;
    } else {
      categotyFilter = item.values().category.indexOf(values_category) >= 0;
    }

		return addressFilter && titleFilter && categoryFilter
	});

  
	propertyList.update();
	
}
                               
$(function(){
  //updateList();
	$('input[name=address]').change(updateList);
  $('input[name=title]').change(updateList);
  $('input[name=category]').change(updateList);
	
	propertyList.on('updated', function (list) {
		if (list.matchingItems.length > 0) {
			$('.no-result').hide()
		} else {
			$('.no-result').show()
		}
	});
});

</script>


</body>
</html>
