{%  extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} <title>TWRE:Properties</title>
{% endblock%}
 
{% block content %}
<div class="p-4">
  <br>
<h1 class="display-4 text-center p-4 text-responsive ">
        Properties   
   </h1>

   <!-- SEARCH -->
<div id="properties">
        <div class="col-md-4 col-sm-12 mx-auto " >
   
          <!-- Actual search box -->
          <div class="form-group">         
            <input type="text" class="form-control fa fa-search  search" placeholder=" Search with Address,Province,City,Category" id="basics">
          </div>


          <div class="dropdown show">
            <a class="btn btn-primary  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Quick Search
            </a>
          
            <div class="dropdown-menu bg-white" aria-labelledby="dropdownMenuLink">
              <p class="dropdown-item bg-white"><small><small>
                    Sort by:
                  </small></small>
                <button class="sort btn btn-light  text-muted" data-sort="title">
                  title
                </button>
                <button class="sort btn btn-light  text-muted" data-sort="price">
                  price
                </button>
                <button class="sort btn btn-light text-muted" data-sort="category">
                  category
                </button>
                <button class="sort btn btn-light text-muted" data-sort="address">
                  address
                </button> </p>
              
              <div class="filter-group dropdown-item bg-white">
                <div class="form-group  mx-auto">
                  <div class="radio-inline">
                    <label class="text-muted">
                      <input class="filter " type="radio" value="Harare" name="address" id="address" />
                      <small>Harare</small>
                    </label>
              
                    <label class="text-muted">
                      <input class="filter " type="radio" value="Bulawayo" name="address" id="address" /> <small>Bulawayo</small>
                    </label>
              
                    <label class="text-muted">
                      <input class="filter" type="radio" value="Chitungwiza" name="address" id="address" /><small>Chitungwiza</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="Gweru" name="address" id="address" /><small>Gweru</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="Stand" name="title" id="title" /><small>Stand</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="For Rent" name="category" id="category" /><small>Rent</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="For Sale" name="category" id="category" /><small>Buy</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="Mortgage" name="title" id="title" /><small>Mortgage</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="Room" name="category" id="category" /><small>Room</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="Flat" name="title" id="title" /><small>Flat</small>
                    </label>
                    <label class="text-muted">
                      <input class="filter" type="radio" value="House" name="title" id="title" /><small>House</small>
                    </label>
                  </div>
              
                  <button class="btn btn-primary" onclick="resetList();">Clear</button>
                </div>
              </div>
            </div>
          </div>


        </div>
       
  <div class="list row" >
      {% include '_properties.html' %}
  </div>
      
      <div class="row">
        <div class="col-md- col-sm- mx-auto">
          <p class="lead text-muted text-center">
            Pages:</p>
            <ul class="pagination text-center"></ul>
          
        

        </div>
      </div>
     
  
</div>
</div>

{% endblock %}
 
